* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50vh;
}

header {
    font-size: 50px;
    color: blue;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

button {
    height: 100px;
    width: 200px;
    font-size: 25px;
    font-weight: bold;
    border: 2px solid lightskyblue;
    border-radius: 12px;
    background-color: lightcyan;
}
