* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30vh;
    padding: 12px 20vh 0 20vh;
    /*background-color: lavender;*/
}

header {
    font-size: 50px;
    color: mediumpurple;
    display: flex;
    justify-content: space-between;
    width: 70%;
    padding: 12px 50px;
    border: 2px solid lightskyblue;
    border-radius: 12px;
    background-color: lightcyan;
    flex-wrap: wrap;
}

button {
    height: 100px;
    width: 200px;
    font-size: 25px;
    font-weight: bold;
    color: mediumpurple;
    border: 2px solid lightskyblue;
    border-radius: 12px;
    background-color: lightcyan;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.gameButtons {
    border: 2px solid lightblue;
    display: flex;
    gap: 12px;
    flex: 1;
    flex-wrap: wrap;
    padding: 12px;
    border-radius: 12px;
}

img,
.gameButtons > button {
    height: 200px;
    width: 200px;
    border-radius: 12px;
    /*padding: 12px;*/
}

.gameButtons > button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rock {
    border: 2px solid lightblue;
    background: url(images/rock.png);
    background-size: cover;
    flex-shrink: 1;
}
.paper {
    border: 2px solid lightblue;
    background: url(images/paper.png);
    background-size: cover;
    flex-shrink: 1;
}
.scissor {
    border: 2px solid lightblue;
    background: url(images/scissor.png);
    background-size: cover;
    flex-shrink: 1;
}

.scoreCard {
    border: 2px solid lightblue;
    height: 100px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    text-align: center;
    font-size: 25px;
}
