* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50vh;
    padding: 12px 20vh 0 20vh;
    /*background-color: lavender;*/
}

header {
    font-size: 50px;
    color: mediumpurple;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 12px;
    border: 2px solid lightskyblue;
    border-radius: 12px;
    background-color: lightcyan;
}

button {
    height: 100px;
    width: 200px;
    font-size: 25px;
    font-weight: bold;
    color: mediumpurple;
    border: 2px solid lightskyblue;
    border-radius: 12px;
    background-color: lightcyan;
}
