html,body{
    height: 100%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid red;
}

body{
    display: flex;
    flex-direction: column;
}

header{
    text-align: center;
    background-color: rgb(108, 122, 137,0.3);
}

.container{
    height: 500px;
    width: 500px;
    margin: auto;
    display: grid;
    grid-template: repeat(3,1fr)/repeat(3,1fr);
}